In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.findeasy.in/tobacco-use-among-adults-in-india/"

In [3]:
r = requests.get(url)

In [4]:
print(r)

<Response [200]>

In [5]:
soup = BeautifulSoup(r.text,"lxml")

In [6]:
#print(soup)

In [7]:
table = soup.find_all("div" ,class_ = "mobile-scroll-table-wrapp mobile-scroll-table-tbody")

In [8]:
print(table)

[]

In [9]:
rows= soup.find_all("td")

In [10]:
#rows

In [11]:
 header = []
for i in rows:
        name = i.text
        header.append(name)

In [12]:
print(header)

['#', 'States & Union\xa0Territories', 'Women (15 years & above)', 'Men\xa0 (15 years & above)', '1', 'Andaman &\xa0 Nicobar\xa0', '31.3 %', '58.7 %', '2', 'AP', '3.8%', '22.6%', '3', 'Arunachal', '18.8%', '50.3%', '4', 'Assam', '22.1%', '51.8%', '5', 'Bihar', '5.0%', '48.8%', '6', 'Chandigarh', '0.6%', '12.1%', '7', 'Chattishgarh', '17.3%', '43.1%', '8', 'D&N', '2.9%', '38.6%', '9', 'Delhi', '2.2%', '26.3%', '10', 'Goa', '2.6%', '18.2%', '11', 'Gujarat', '8.7%', '41.1%', '12', 'Haryana', '2.5%', '29.1%', '13', 'Himachal Pradesh', '1.7%', '32.3%', '14', 'J&K', '3.6%', '38.3%', '15', 'Jharkhand', '8.4%', '47.4%', '16', 'Karnataka', '8.5%', '27.1%', '17', 'Kerala', '2.2%', '16.9%', '18', 'Ladakh', '3.2%', '35.7%', '19', 'Lakshadweep', '17.5%', '28.5%', '20', 'Maharashtra', '10.9%', '33.8%', '21', 'Manipur', '43.1%', '58.1%', '22', 'Meghalaya', '28.2%', '57.7%', '23', 'Mizoram', '61.6%', '72.9%', '24', 'Madhya Pradesh', '10.2%', '46.5%', '25', 'Nagaland', '13.7%', '48.4%', '26', 'Odisha', '26.0%', '51.6%', '27', 'Puducherry', '2.6%', '14.8%', '28', 'Punjab', '0.4%', '12.9%', '29', 'Rajasthan', '6.9%', '42.0%', '30', 'Sikkim', '11.7%', '41.3%', '31', 'Tamil Nadu', '4.9%', '20.1%', '32', 'Telangana', '5.6%', '22.3%', '33', 'Tripura', '50.4%', '56.9%', '34', 'Uttar Pradesh', '8.4%', '44.1%', '35', 'Uttarakhand', '4.6%', '33.7%', '36', 'West Bengal', '10.8%', '48.1%', '\xa0', 'India', '8.9%', '38.0%', '#', 'States & Uts', 'Women (15 years & above)', '1', 'Mizoram', '61.6', '2', 'Tripura', '50.4', '3', 'Manipur', '43.1', '4', 'A&N', '31.3', '5', 'Meghalaya', '28.2', '6', 'Odisha', '26.0', '7', 'Assam', '22.1', '8', 'Arunachal', '18.8', '9', 'Chattishgarh', '17.3', '10', 'Nagaland', '13.7', '#', 'States & Uts', 'Men\xa0 ( 15 years & above)', '1', 'Mizoram', '72.9', '2', 'A&N', '58.7', '3', 'Manipur', '58.1', '4', 'Meghalaya', '57.7', '5', 'Tripura', '56.9', '6', 'Assam', '51.8', '7', 'Odisha', '51.6', '8', 'Arunachal', '50.3', '9', 'Bihar', '48.8', '10', 'Nagaland', '48.4']

In [13]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\ayushi parkia\anaconda3\lib\site-packages (0.8.9)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from tabulate import tabulate

text = """
Slno.	State/UT	Women(15years&above)	Men(15years&above)
1	Andaman&Nicobar 	31.3%	58.7%
2	AP	3.8%	22.6%
3	Arunachal	18.8%	50.3%
4	Assam	22.1%	51.8%
5	Bihar	5.0%	48.8%
6	Chandigarh	0.6%	12.1%
7	Chattishgarh	17.3%	43.1%
8	D&N	2.9%	38.6%
9	Delhi	2.2%	26.3%
10	Goa	2.6%	18.2%
11	Gujarat	8.7%	41.1%
12	Haryana	2.5%	29.1%
13	HimachalPradesh	1.7%	32.3%
14	J&K	3.6%	38.3%
15	Jharkhand	8.4%	47.4%
16	Karnataka	8.5%	27.1%
17	Kerala	2.2%	16.9%
18	Ladakh	3.2%	35.7%
19	Lakshadweep	17.5%	28.5%
20	Maharashtra	10.9%	33.8%
21	Manipur	43.1%	58.1%
22	Meghalaya	28.2%	57.7%
23	Mizoram	61.6%	72.9%
24	MadhyaPradesh	10.2%	46.5%
25	Nagaland	13.7%	48.4%
26	Odisha	26.0%	51.6%
27	Puducherry	2.6%	14.8%
28	Punjab	0.4%	12.9%
29	Rajasthan	6.9%	42.0%
30	Sikkim	11.7%	41.3%
31	TamilNadu	4.9%	20.1%
32	Telangana	5.6%	22.3%
33	Tripura	50.4%	56.9%
34	UttarPradesh	8.4%	44.1%
35	Uttarakhand	4.6%	33.7%
36	WestBengal	10.8%	48.1%
"""

lines = [line.strip() for line in text.strip().split('\n')]

header = lines[0].split()

rows = [line.split() for line in lines[1:]]

table = tabulate(rows, headers=header, tablefmt="grid")
print(table)

+---------+-----------------+------------------------+----------------------+
|   Slno. | State/UT        | Women(15years&above)   | Men(15years&above)   |
+=========+=================+========================+======================+
|       1 | Andaman&Nicobar | 31.3%                  | 58.7%                |
+---------+-----------------+------------------------+----------------------+
|       2 | AP              | 3.8%                   | 22.6%                |
+---------+-----------------+------------------------+----------------------+
|       3 | Arunachal       | 18.8%                  | 50.3%                |
+---------+-----------------+------------------------+----------------------+
|       4 | Assam           | 22.1%                  | 51.8%                |
+---------+-----------------+------------------------+----------------------+
|       5 | Bihar           | 5.0%                   | 48.8%                |
+---------+-----------------+------------------------+----------------------+
|       6 | Chandigarh      | 0.6%                   | 12.1%                |
+---------+-----------------+------------------------+----------------------+
|       7 | Chattishgarh    | 17.3%                  | 43.1%                |
+---------+-----------------+------------------------+----------------------+
|       8 | D&N             | 2.9%                   | 38.6%                |
+---------+-----------------+------------------------+----------------------+
|       9 | Delhi           | 2.2%                   | 26.3%                |
+---------+-----------------+------------------------+----------------------+
|      10 | Goa             | 2.6%                   | 18.2%                |
+---------+-----------------+------------------------+----------------------+
|      11 | Gujarat         | 8.7%                   | 41.1%                |
+---------+-----------------+------------------------+----------------------+
|      12 | Haryana         | 2.5%                   | 29.1%                |
+---------+-----------------+------------------------+----------------------+
|      13 | HimachalPradesh | 1.7%                   | 32.3%                |
+---------+-----------------+------------------------+----------------------+
|      14 | J&K             | 3.6%                   | 38.3%                |
+---------+-----------------+------------------------+----------------------+
|      15 | Jharkhand       | 8.4%                   | 47.4%                |
+---------+-----------------+------------------------+----------------------+
|      16 | Karnataka       | 8.5%                   | 27.1%                |
+---------+-----------------+------------------------+----------------------+
|      17 | Kerala          | 2.2%                   | 16.9%                |
+---------+-----------------+------------------------+----------------------+
|      18 | Ladakh          | 3.2%                   | 35.7%                |
+---------+-----------------+------------------------+----------------------+
|      19 | Lakshadweep     | 17.5%                  | 28.5%                |
+---------+-----------------+------------------------+----------------------+
|      20 | Maharashtra     | 10.9%                  | 33.8%                |
+---------+-----------------+------------------------+----------------------+
|      21 | Manipur         | 43.1%                  | 58.1%                |
+---------+-----------------+------------------------+----------------------+
|      22 | Meghalaya       | 28.2%                  | 57.7%                |
+---------+-----------------+------------------------+----------------------+
|      23 | Mizoram         | 61.6%                  | 72.9%                |
+---------+-----------------+------------------------+----------------------+
|      24 | MadhyaPradesh   | 10.2%                  | 46.5%                |
+---------+-----------------+------------------------+----------------------+
|      25 | Nagaland        | 13.7%                  | 48.4%                |
+---------+-----------------+------------------------+----------------------+
|      26 | Odisha          | 26.0%                  | 51.6%                |
+---------+-----------------+------------------------+----------------------+
|      27 | Puducherry      | 2.6%                   | 14.8%                |
+---------+-----------------+------------------------+----------------------+
|      28 | Punjab          | 0.4%                   | 12.9%                |
+---------+-----------------+------------------------+----------------------+
|      29 | Rajasthan       | 6.9%                   | 42.0%                |
+---------+-----------------+------------------------+----------------------+
|      30 | Sikkim          | 11.7%                  | 41.3%                |
+---------+-----------------+------------------------+----------------------+
|      31 | TamilNadu       | 4.9%                   | 20.1%                |
+---------+-----------------+------------------------+----------------------+
|      32 | Telangana       | 5.6%                   | 22.3%                |
+---------+-----------------+------------------------+----------------------+
|      33 | Tripura         | 50.4%                  | 56.9%                |
+---------+-----------------+------------------------+----------------------+
|      34 | UttarPradesh    | 8.4%                   | 44.1%                |
+---------+-----------------+------------------------+----------------------+
|      35 | Uttarakhand     | 4.6%                   | 33.7%                |
+---------+-----------------+------------------------+----------------------+
|      36 | WestBengal      | 10.8%                  | 48.1%                |
+---------+-----------------+------------------------+----------------------+

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ayushi parkia\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ayushi parkia\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\ayushi parkia\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd

In [52]:
# Sample data as a dictionary of lists
data = {
    'State/UT': ['Andaman&Nicobar', 'AP', 'Arunachal', 'Assam' , 'Bihar' , 'Chandigarh' , 'Chattisgarh' , 'D&N' , 'Delhi' , 'Goa' , 'Gujarat' , 'Haryana' , 'Himachal Pradesh' , 'J&K' , 'Jharkhand' , 'Karnataka' , 'Kerala' , 'Ladakh' , 'Lakshadweep' , 'Maharashtra' , 'Manipur' , 'Meghalaya' , 'Mizoram' , 'Madhya Pradesh' , 'Nagaland' , 'Odisha' , 'Puducherry' , 'Punjab' , 'Rajasthan' , 'Sikkim' , 'Tamil Nadu' , 'Telangana' , 'Tripura' , 'Uttar Pradesh' , 'Uttarakhand' , 'West Bengal'],
    'Women(15years&above)': [31.30 , 3.80 , 18.80 , 22.10 , 5.00 , 0.60 , 17.30 , 2.90 , 2.20 , 2.60 , 8.70 , 2.50 , 1.70 , 3.60 , 8.40 , 8.50 , 2.20 , 3.20 , 17.50 , 10.90 , 43.10 , 28.20 , 61.60  , 10.20 , 13.70 , 26.00 , 2.60 , 0.40 , 6.90 , 11.70 , 4.90 , 5.60 , 50.40 , 8.40 , 4.60 , 10.80 ],
    'Men(15years&above)': [58.70 , 22.60 , 50.30 , 51.80 , 48.80 , 12.10 , 43.10 , 38.60 , 26.30 , 18.20 , 41.10 , 29.10 , 32.30 , 38.30 , 47.40 , 27.10 , 16.90 , 35.70 , 28.50 , 33.80 , 58.10 , 57.70 , 72.90 , 46.50 , 48.40 , 51.60 , 14.80 , 12.90 , 42.00 , 41.30 , 20.10 , 22.30 , 56.90 , 44.10 , 33.70 , 48.10 ]
}

# Create a pandas DataFrame from the data
df = pd.DataFrame(data)

print(df)

            State/UT  Women(15years&above)  Men(15years&above)
0    Andaman&Nicobar                  31.3                58.7
1                 AP                   3.8                22.6
2          Arunachal                  18.8                50.3
3              Assam                  22.1                51.8
4              Bihar                   5.0                48.8
5         Chandigarh                   0.6                12.1
6        Chattisgarh                  17.3                43.1
7                D&N                   2.9                38.6
8              Delhi                   2.2                26.3
9                Goa                   2.6                18.2
10           Gujarat                   8.7                41.1
11           Haryana                   2.5                29.1
12  Himachal Pradesh                   1.7                32.3
13               J&K                   3.6                38.3
14         Jharkhand                   8.4                47.4
15         Karnataka                   8.5                27.1
16            Kerala                   2.2                16.9
17            Ladakh                   3.2                35.7
18       Lakshadweep                  17.5                28.5
19       Maharashtra                  10.9                33.8
20           Manipur                  43.1                58.1
21         Meghalaya                  28.2                57.7
22           Mizoram                  61.6                72.9
23    Madhya Pradesh                  10.2                46.5
24          Nagaland                  13.7                48.4
25            Odisha                  26.0                51.6
26        Puducherry                   2.6                14.8
27            Punjab                   0.4                12.9
28         Rajasthan                   6.9                42.0
29            Sikkim                  11.7                41.3
30        Tamil Nadu                   4.9                20.1
31         Telangana                   5.6                22.3
32           Tripura                  50.4                56.9
33     Uttar Pradesh                   8.4                44.1
34       Uttarakhand                   4.6                33.7
35       West Bengal                  10.8                48.1

In [49]:
file_path = 'tobacco_data.xlsx'

In [50]:
df.to_excel(file_path, index=False)

print(f"Data exported to {file_path} successfully.")

Data exported to tobacco_data.xlsx successfully.